@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<h1>@Model.Value("header")</h1>
<p>@Model.Value("textBox")</p>
<h2>@Model.Value("seeMeWork")</h2>